/** Contenedor **/
.seccion{
	margin: 15px 0px;
}
.titulo{
	font-family: 'Roboto', sans-serif;
	line-height: 1em;
	margin: 5px 0px;
	padding: 0px;
	font-size: 30px;
	color: #00b5ae
}
.subtitulo{
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	margin: 20px 0px;
}

/** Sociedades **/
.sociedades a{
	text-decoration: none;
	cursor: pointer;
	color: #555;
	font-size: 1.2em;
}

/*** Bootstrap custom ***/
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
  background-color: #ff5681;
  border-color: #ff5681;
}
.popover {
  max-width: 500px;
}


/** Slide Master **/
.jssorb01 div, .jssorb01 div:hover, .jssorb01 .av
{
	filter: alpha(opacity=70);
	opacity: .7;
	overflow:hidden;
	cursor: pointer;
	border: #000 1px solid;
}
.jssorb01 div { background-color: gray; }
.jssorb01 div:hover, .jssorb01 .av:hover { background-color: #d3d3d3; }
.jssorb01 .av { background-color: #fff; }
.jssorb01 .dn, .jssorb01 .dn:hover { background-color: #555555; }
/** End Slide Master **/



.rssFeed {
	margin: 5px 0px;
}